.main {
    /*height: 40%;*/
    text-align: center;
    color: white;
    height: 460px;
    overflow: scroll;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
.collapsible{
    margin: 0 !important;
    padding: 0 !important;
}
.collapsible li{
    min-width: 400px !important;
    max-width: 400px !important;
}

.collapsible-header{
    min-width: 400px !important;
    max-width: 400px !important;
}

.collapsible-body{
    padding: 0 !important;
}

.chatbox{
    position: absolute !important;
    right: 0 !important;
    bottom: 5%;
    z-index: 999 !important;
    margin: 0;
    padding: 0;
    
}
.chat-popup{
    max-height: 80%;
}

.chat-body{
    margin: 0 !important;
    /*padding: 0 !important;*/
    
}
.chat-footer {
    padding: 0 !important;
}
.chat-footer *{
    /*position: absolute !important;*/
    /*bottom: 0 !important;*/
    /*margin: 0 !important;*/
    padding: 0 !important;
    margin: 0;
}
#chatInput{
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 10px !important;
    color: #fff;
}



/*.chat-popup {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.22);
    width: 40%;
    height: 40%;
    border-top-left-radius: 4px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: popup_open;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #e6e6e6;
    flex-direction: column;
    justify-content: space-between;
}*/

/*.chat-popup .chat-header {
    background-color: #98A9CE;
    height: 40px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}*/

.chat-popup .chat-body {
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*height: 80%;*/
    overflow-y: scroll;
    padding-top: 20px;
}


/* Remove scroll bar in chat box */

.chat-popup .chat-body::-webkit-scrollbar {
    visibility: hidden;
}

@keyframes show_chat {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 99;
    }
}

@keyframes hide_chat {
    from {
        opacity: 1;
        z-index: 99;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}
/*
.chat-popup .chat-body .chat-date {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.chat-popup .chat-body .chat-date span {
    font-size: 14px;
    display: inline-block;
    color: #bebebe;
    width: 100%;
}*/

/*.chat-popup .chat-body .chat-date span:before,
.chat-popup .chat-body .chat-date span:after {
    display: inline-block;
    width: 30%;
    height: 1px;
    margin-bottom: 5px;
    content: '';
    background-color: #c3c3c3;
}*/

/*.chat-popup .chat-body .chat-date span:before {
    margin-right: 2px;
    left: 0;
}

.chat-popup .chat-body .chat-date span:after {
    right: 0;
    margin-left: 2px;
}*/

.chat-popup .chat-body .bubble {
    padding: 13px 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 78%;
}

.chat-popup .chat-body .bubble:before {
    width: 8px;
    height: 6px;
    top: 5px;
    position: relative;
    display: inline-block;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.chat-popup .chat-body .bubble.watson {
    color: #fff;
    background-color: #4db6ac;
    align-self: flex-start;
    margin-left: 15px !important;
}

.chat-popup .chat-body .bubble.watson:before {
    left: -18px !important;
    background-color: #4db6ac;
}

.chat-popup .chat-body .bubble.user:before {
    right: -18px;
    float: right;
    background-color: #eceff1;
}

.chat-popup .chat-body .bubble.user {
    color: #1a1a1a;
    align-self: flex-end;
    background-color: #eceff1;
    margin-right: 20px;
}

/*.chat-footer {
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 42px;
    display: flex;
    flex-direction: row;
}*/

/*.chat-footer input {
    color: #1a1a1a;
    border: 0;
    background-color: #eceff1;
    outline: none;
    width: 100%;
}*/