

  html,body{
     margin: 0;
	 padding: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
  }
  body {
   
    /*background-position: ;*/
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    
    background-image: url('../images/healthcare-bg2.jpg') !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position : center center;

  }
  .bg-color{
      /*background-color:  #009973 !important;*/
  }
 

  main{
      height: 90% !important;
      
      
  }
.brand-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    width: 150px;
    height: 50px;
    margin-left: 10px;
}
.logo-text{
    margin-left: 10px;
}

.nav-wrapper{
     box-shadow: 0px 5px 5px #888888 !important;
}

.page-footer{
    box-shadow: 0px -5px 5px #888888 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.waiting_item{
  padding: 10px;
  font-size: 12pt;
  border-bottom: 1px solid #39535C;
  
}
.full-height{
    height: 100% !important;
}

.centralized {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.nav-wrapper {
    box-shadow: 0px 5px 5px #888888 !important;
}

.page-footer {
    box-shadow: 0px -5px 5px #888888 !important;
}


/*Materialize section*/


/*Pulse*/

.pulse::before {
    background-color: lightcyan !important;
}

#triagem{
    max-height: 312px !important;
    overflow-y: scroll !important;
}

#historico ,  #triagem{
    height: 312px;
}

#exame{
    overflow-y: scroll !important;
    max-height: 190px !important;
    height: 190px !important;
}

#prescricao{
    overflow-y: scroll !important;
    max-height: 190px !important;
    height: 190px !important;
}

#historico{
    overflow-y: scroll !important;
    max-height: 312px !important;
    height: 312px !important;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}

#queixa{
    max-height: 190px !important;
    height: 190px !important;
}


.cid::-moz-placeholder , .input-field::-moz-placeholder{
    text-align: center;
    color: black;
}


.cid::-webkit-input-placeholder , .input-field::-webkit-input-placeholde{
    text-align: center;
    color: black;
}

.cid::-ms-input-placeholder , .input-field::-ms-input-placeholder{
    text-align: center;
    color: black;
}

.exame::-moz-placeholder , .input-field::-moz-placeholder{
    text-align: center;
    color: black;
}


.exame::-webkit-input-placeholder , .input-field::-webkit-input-placeholder {
    text-align: center;
    color: black;
}

.exame::-ms-input-placeholder, .input-field::-ms-input-placeholder{
    text-align: center;
    color: black;
}



#espera_imediato_holder{
    width: 400px !important;
    position: absolute;
    top: 80px !important;
    left: 50% !important;
}
/*Espera Imediato*/
#espera_imediato {
    height: 190px !important;
    width: 400px !important;
    position: absolute;
    left: -50% !important;
    background-color:  rgba(255, 45, 45, 0.76) !important;
}

#espera_imediato:hover {
    height: 390px !important;
    z-index: 99 !important;
    background-color:  rgba(255, 45, 45, 1) !important;
}
/**/

#espera_prioritario_holder{
    width: 400px !important;
    position: absolute;
    top: 280px !important;
    left: 50% !important;
}
/*Espera Prioritario*/
#espera_prioritario {
    overflow-y: scroll !important;
    width: 400px !important;
    height: 190px !important;
    position: absolute;
    /*top: 280px !important;*/
    left: -50% !important;
    background-color:  rgba(255, 247, 45, 0.86) !important;
    
}

#espera_prioritario:hover {
    height: 390px !important;
    background-color:  rgba(255, 247, 45, 1) !important;
    z-index: 99 !important;
}

#espera_dia_holder{
    width: 400px !important;
    position: absolute;
    top: 480px !important;
    left: 50% !important;
}
/*Espera Dia*/
#espera_dia {
    overflow-y: scroll !important;
    width: 400px !important;
    height: 190px !important;
    position: absolute;    
    left: -50% !important;    
    background-color : rgba(45, 255, 53, 0.86) !important;
}
#espera_dia_holder:hover {
    /*height: 390px !important;*/
    top: 280px !important;
    z-index: 99 !important;   
}
#espera_dia_holder:hover  #espera_dia{
      height: 390px !important;
      background-color : rgba(45, 255, 53, 1) !important;
}

.overlay{
    position: absolute;
    left:0;
    /*width: 77.6%;*/
    right: 400px;   
    height: 87%;
    /*top: 5%;*/
    bottom: 5%;
    background-color:rgba(183, 183, 183, 0.72);
    z-index: 50;
    pointer-events: none;
}




.waiting_item {
    color: #fff;
    padding: 10px;
    font-size: 12pt;
    border-bottom: 1px solid #39535C;
}

/**/

@media print {
  body * {
    visibility: hidden;
  }
  #final, #final * {
    visibility: visible;
  }
  #final {
    position: absolute;
    left: 150px !important;
    top: 20px !important;
  }
}