html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    /*background-position: ;*/
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/healthcare-bg2.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

header,
footer {
    height: 5% !important;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    /*flex: 1 0 auto;*/
    height: 90% !important;
}

.loading-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    height: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.welconeGif {
    display: block;
    margin: auto;
    z-index: 100;
    width: 200px;
    height: 200px;
}

#leftSide {
    position: absolute;
    background-color: #000;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 99;
}

#rightSide {
    position: absolute;
    background-color: #000;
    height: 100%;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 99;
}

.custom-logo {
    margin: 0 !important;
    padding: 0 !important;
}

#logo-saude {
    margin-left: 10px;
    width: 110px;
    height: 60px;
}

.full-height {
    height: 100% !important;
}

.full-width {
    width: 100%;
}

.centralized {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.nav-wrapper {
    box-shadow: 0px 5px 5px #888888 !important;
}

.page-footer {
    box-shadow: 0px -5px 5px #888888 !important;
}


/*Materialize section*/


/*Pulse*/

.pulse::before {
    background-color: lightcyan !important;
}


/*Historico Card*/

#historico {
    width: 300px !important;
    height: 380px !important;
    position: absolute;
    top: 80px !important;
    left: 90px !important;
}

#pre-receita{
    display: flex !important;
    align-content: space-between !important;
    justify-content: center !important;
    top: 145px !important;
    height: 175px !important;
    width: 350px !important;
    left: 860px !important;
    
}

#receita{
    width: 620px !important;
    height: 600px !important;
    position: absolute;
    top: 80px !important;
    left: 730px !important;
}

#final{
    width: 620px !important;
    height: 600px !important;
    position: absolute;
    top: 80px !important;
    left: 350px !important;
}

#resumo{
    width: 620px !important;
    height: 170px !important;
    position: absolute;
    top: 80px !important;
    left: 730px !important;
}

#lista-triagem {
    overflow-y: scroll;  
    height: 100% !important;
}

#triagem {
    width: 300px !important;
    height: 380px !important;
    position: absolute;
    top: 80px !important;
    left: 410px !important;
    /*overflow: hidden;*/
}

/*#consulta {
    width: 500px !important;
    height: 300px !important;
    position: absolute;
    top: 80px !important;
    left: 370px !important;
}*/

/*#atendimento {
    width: 700px !important;
    height: 300px !important;
    position: absolute;
    top: 140px !important;
    left: 220px !important;
}*/

#queixa {
    width: 620px !important;
    height: 200px !important;
    position: absolute;
    top: 480px !important;
    left: 90px !important;
}

#pre-diag {
    width: 300px !important;
    height: 600px !important;
    position: absolute;
    top: 80px !important;
    left: 700px !important;
}

#pre-analise {
    width: 620px !important;
    height: 223px !important;
    position: absolute;
    top: 260px !important;
    left: 730px !important;
}

/*.canvas-holder {
     width: 15%;
 }

.line-holder{
    display: flex !important;
    align-content: center;
    justify-content: center;
}

#row-grafico{
    position: absolute;
    left: 1020px !important;
    top: 80px !important;
    
}*/
/*
#atendimento input {
    text-align: center;
}

#atendimento-title {
    text-align: center;
}*/


/*Espera Imediato*/
#espera-medico-imediato {
    overflow-y: scroll !important;
    width: 400px !important;
    height: 190px !important;
    position: absolute;
    top: 80px !important;
    left: 500px !important;
    /*border: 5px solid #d50000!important;*/
    background-color:  rgba(255, 45, 45, 0.76) !important;
}

#espera-medico-imediato:hover {
    height: 390px !important;
    z-index: 99 !important;
    background-color:  rgba(255, 45, 45, 1) !important;
}
/**/


/*Espera Prioritario*/
#espera-medico-prioritario {
    overflow-y: scroll !important;
    width: 400px !important;
    height: 190px !important;
    position: absolute;
    top: 280px !important;
    left: 500px !important;
    /*border: 5px solid #ffea00 !important;*/
    background-color:  rgba(255, 247, 45, 0.86) !important;
    
}

#espera-medico-prioritario:hover {
    height: 390px !important;
    background-color:  rgba(255, 247, 45, 1) !important;
    z-index: 99 !important;
}

/**/
/*Espera Dia*/
#espera-medico-dia {
    overflow-y: scroll !important;
    width: 400px !important;
    height: 190px !important;
    position: absolute;
    top: 480px !important;
    left: 500px !important;
    
    /*border: 5px solid #00c853 !important;*/
    background-color : rgba(45, 255, 53, 0.86) !important;
}

#espera-medico-dia:hover {
    height: 390px !important;
    top: 280px !important;
    z-index: 99 !important;
    background-color : rgba(45, 255, 53, 1) !important;
}
/**/



.waiting_item {
    color: #fff;
    padding: 10px;
    font-size: 12pt;
    border-bottom: 1px solid #39535C;
}

/**/