

  html,body{
     margin: 0;
	 padding: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
  }
  body {
   
    /*background-position: ;*/
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/healthcare-bg2.jpg') !important;
    background-repeat: no-repeat;
    background-size:cover;
    background-position : center center;

  }
  header , footer{
    height: 5% !important;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-body {
    /*flex: 1 0 auto;*/
    height: 90% !important;
     
  }
  .loading-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    height: 90%;
    display: flex;
    justify-content: center;
    align-self: center;
    
  }
.welconeGif{
  display: block;
  margin: auto;
  z-index: 100;
  width: 200px;
  height: 200px;
}
#leftSide {
  position: absolute;
  background-color: #000; 
  height: 100%;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 99;
}
#rightSide{
  position: absolute;
  background-color: #000; 
  height: 100%;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 99;
}
.custom-logo{
  margin: 0 !important;
  padding: 0 !important;
}


#logo-saude{
  margin-left: 10px;
  width: 110px;
  height: 60px;
  
}
.full-height{
    height: 100% !important;
}
.full-width{
  width: 100%;
}
.centralized{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.nav-wrapper{
     box-shadow: 0px 5px 5px #888888 !important;
}



.page-footer{
    box-shadow: 0px -5px 5px #888888 !important;
}


/*Materialize section*/

/*Pulse*/
.pulse::before{
  background-color: lightcyan !important;
}

Historico Card
#historico{
  width: 300px !important;
  height: 380px !important;
  position: absolute;
  top: 80px !important;
  left: 160px !important;
}


#consulta{
  width: 500px !important;
  height: 300px !important;
  position: absolute;
  top: 80px !important;
  left: 470px !important;
}





#loading-atendimento{
  opacity: 1.0 !important;
  position: absolute;
  left: 600px !important;
}

/**/


/*Collapsible Body*/

.collapsible-body{
  background-color: rgba(255, 255, 255, 0.08) !important ;
}

.chat-body{
  background-color: rgba(255, 255, 255, 0.08) !important ;
}

/* label focus color */
   #chatInput{
     color: black !important;
     background-color: #fff !important;
     opacity: 0.9 !important;
}
/* label underline focus color */
   #chatInput:focus {
     border-bottom: 1px solid #00e676 !important;
     box-shadow: 0 1px 0 0 #00e676 !important;
   }





@Keyframes typing { from { width: 0; } }
@Keyframes blink-caret { 50% { border-color: transparent; } }

.write-text{ 
    /*border: 1px solid black;*/
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 17.5em; 
    color: #fff;
	width: 20ch;
    /*width: auto;*/
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}



@media print and (min-width: 0px){
  *{
    visibility: hidden;
  }

  
  #row-consulta ,  #row-consulta *{
    visibility: visible;
  }
}

